.detail-container{
  background-color: #F5F5F5;
  .bread-crumb{
    margin: 0.45454545454545453rem;
    font-size: 0.6363636363636364rem;
    span{
      padding-right: 0.36363636363636365rem;
    }
  }
}
