.list-container{
  background-color: #F5F5F5;

  .bread-crumb{
    margin: 0.45454545454545453rem;
    font-size: 0.6363636363636364rem;
    span{
      padding-right: 0.36363636363636365rem;
    }
  }
  .scrollview{
    padding-right: 15px;
    padding-left: 15px;
    .article-block{
      overflow: hidden;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      margin-bottom: 1.3636363636363635rem;
      padding: 0.9090909090909091rem;
      position: relative;
      background-color: #FFF;
      .title{
        color: rgb(17, 157, 85);
        font-size: 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: 0.45454545454545453rem;
      }
      .ribble{
        position: absolute;
        top: 0.7272727272727273rem;
        right: -1.2272727272727273rem;
        display: inline-block;
        background-color: #119d55;
        height: 1.3636363636363635rem;
        width: 5.454545454545454rem;
        transform: rotate(45deg);
        color: #FFF;
        text-align: center;
        font-size: 0.6363636363636364rem;
        line-height: 1.3636363636363635rem;
        z-index: 99;
      }
      .brief{

      }
      .nav-to-detail{
        color: rgb(17, 157, 85);
        font-size: 0.6363636363636364rem;
      }
    }
  }
}
