.home-container{
  .wrapper{
    width: 90%;
    max-width: 760px;
    margin: 0 auto;
    padding-top: 2.272727272727273rem;

    .hot-articles{
      font-size: 1rem;
      margin: 1.3636363636363635rem 0px;
      font-weight: bold;
      color: #119d55;
      .nav-to-all{
        font-size: 80%;
      }
    }
    .article-list{
      padding: 0;
      margin: 0;
      .article{
        width: 100%;
        display: block;
        border-bottom: 0.045454545454545456rem solid #ddd;
        border-top: 0.045454545454545456rem solid #fff;
        padding: 0.36363636363636365rem 0.5454545454545454rem;
        .title{
          line-height: inherit;
          font-weight: normal;
          color: rgb(51, 153, 204);
          font-size: 0.8181818181818182rem;
        }
        .time{
          color: #bbbbbb;
          font-size: 0.5454545454545454rem;
          font-weight: normal;
          margin-left: 0.45454545454545453rem;
        }
        &:nth-child(1):before, &:nth-child(2):before, &:nth-child(3):before, &:nth-child(4):before, &:nth-child(5):before{
          display: inline-block;
          width: 0.6818181818181818rem;
          height: 0.6818181818181818rem;
          margin:0 0.22727272727272727rem;
          font-size: 0.5454545454545454rem;
          border: 0.09090909090909091rem solid #ccc;
          text-align: center;
          line-height: 0.7272727272727273rem;
          color: #119d55;
          box-sizing: content-box;
        }
        &:nth-child(1):before{
          content: "1";
        }
        &:nth-child(2):before{
          content: "2";
        }
        &:nth-child(3):before{
          content: "3";
        }
        &:nth-child(4):before{
          content: "4";
        }
        &:nth-child(5):before{
          content: "5";
        }
      }
    }
  }
}
